@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: darkgray;  
}

a {
	padding: 15px;
margin: 5px;
	font-size: 150%;
	background-color:  silver; 
	color:  royalblue; 
}
a:hover {
	font-size:200%;
	background-color: navajowhite; 
	color: cornflowerblue; 
}