@charset "utf-8";
/* CSS Document */

body {
	text-align: center;
	background-color: #fceed1;
	color: #black;          /* text color for the entire document */
	font-size: 14px;
	font-family:Verdana, Geneva, sans-serif;
}

.warning {
		background-color: #4A3E13;
		padding:10px;
		border-radius:10px;
	}
.material-icons {
	color:black; 
	font-size:3em;
}

h1, h2 { 
	text-align:center;     
	font-family: Sans-serif;
    letter-spacing: .2px;
}

a {
	padding: 20px;
    margin: 10px;
	font-size: 150%;
	background-color:  silver; 
	color:  royalblue; 
}
a:hover {
	font-size:200%;
	background-color: silver; 
	color: royalblue; 
}

#wrapper {
width: 900px;
margin: 18px auto 6px;
width: 50%; text-align: center;
}

 #Meditation {
border: black 5px solid;
}
 
 #thoughts {
display: none; /* hides content */
border: black 5px solid;
}
.choices {
cursor: pointer;
}
